#Contenedor-venta{
    width: 400px;
    margin: 30px auto
}

html{
    margin-bottom: 10px;
}

input{
    width: 100%; 
    padding: 6px;
    margin: 10px 0px 10px 0px
}

button{
    background-color: #007bff;
    color: white;
    border:none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

#Mensaje-correcto{
    color: "green";
    margin-top: 10px;
}

#Mensaje-incorrecto{
    color: "red";
    margin-top: 10px;
}